body {
  margin:0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  height: 500px;
  border: 1px solid;
}

.my-square {
  background-color: rgb(117, 159, 196);
  color: blue;
  font-size: 40;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  
}

